@using GiffyglyphMonsterMakerV3.Data
@using System.Diagnostics
<div class="@(Hidden ? "d-none" : "") border-black border-2 p-1">
    <div class="monsterPrimary px-2">
        <div class="name text-white fw-bold fs-2">@model.Name</div>
        <div class="text-white fst-italic">@model.Size @model.Type @(String.IsNullOrWhiteSpace(model.TypeDetail) ? "" : "(" + model.TypeDetail + ")")</div>
    </div>
    <div class="monsterAccent px-2">
        <span class="fa-solid fa-crown text-white" />
        <span class="text-white fw-bold">Level @model.CombatLevel @model.MonsterRank@(model.MonsterRank == Rank.Paragon ? " T"+model.ParagonThreat : ""), @model.MonsterRole @(string.IsNullOrWhiteSpace(model.MonsterRoleDetail) ? "" : "(" + model.MonsterRoleDetail + ")")</span>
    </div>
    <div class="p-1">
        <div class="row monsterAccent text-white">
            <div class="col fs-5 border border-opacity-50 border-white text-center fw-bold">STR</div>
            <div class="col fs-5 border border-opacity-50 border-white text-center fw-bold">DEX</div>
            <div class="col fs-5 border border-opacity-50 border-white text-center fw-bold">CON</div>
            <div class="col fs-5 border border-opacity-50 border-white text-center fw-bold">INT</div>
            <div class="col fs-5 border border-opacity-50 border-white text-center fw-bold">WIS</div>
            <div class="col fs-5 border border-opacity-50 border-white text-center fw-bold">CHA</div>
        </div>
        <div class="row monsterPrimary text-white">
            <div class="col fs-3 border border-opacity-50 border-white text-center fw-bold">@model.Attributes.Strength</div>
            <div class="col fs-3 border border-opacity-50 border-white text-center fw-bold">@model.Attributes.Dexterity</div>
            <div class="col fs-3 border border-opacity-50 border-white text-center fw-bold">@model.Attributes.Constitution</div>
            <div class="col fs-3 border border-opacity-50 border-white text-center fw-bold">@model.Attributes.Intelligence</div>
            <div class="col fs-3 border border-opacity-50 border-white text-center fw-bold">@model.Attributes.Wisdom</div>
            <div class="col fs-3 border border-opacity-50 border-white text-center fw-bold">@model.Attributes.Charisma</div>
        </div>
    </div>
    <div>
        <div>
            <span class="fa-solid fa-shield-halved line-icon" /><span class="monsterPrimaryText fw-bold">AC </span><span>@(model.Defenses.ArmorClass).</span>
            <span class="monsterPrimaryText fw-bold">Saving Throws</span>
            @if (model.Defenses.ProficientSavingThrows.Strength)
            {
                <span> Str +@(model.Attributes.Strength + model.Defenses.SaveBonus)</span>
            }
            @if (model.Defenses.ProficientSavingThrows.Dexterity)
            {
                <span> Dex +@(model.Attributes.Dexterity + model.Defenses.SaveBonus)</span>
            }
            @if (model.Defenses.ProficientSavingThrows.Constitution)
            {
                <span> Con +@(model.Attributes.Constitution + model.Defenses.SaveBonus)</span>
            }
            @if (model.Defenses.ProficientSavingThrows.Intelligence)
            {
                <span> Int +@(model.Attributes.Intelligence + model.Defenses.SaveBonus)</span>
            }
            @if (model.Defenses.ProficientSavingThrows.Wisdom)
            {
                <span> Wis +@(model.Attributes.Wisdom + model.Defenses.SaveBonus)</span>
            }
            @if (model.Defenses.ProficientSavingThrows.Charisma)
            {
                <span> Cha +@(model.Attributes.Charisma + model.Defenses.SaveBonus)</span>
            }
            <span>.</span>
        </div>
        <div>
            <span class="fa-solid fa-heart line-icon" /><span class="monsterPrimaryText fw-bold">HP </span><span>@(model.Defenses.HitPoints).</span>
        </div>
        <div>
            <span class="fa-solid fa-swords line-icon" /><span class="monsterPrimaryText fw-bold">ATK </span><span>+@(model.Offense.Attack).</span>
            <span class="monsterPrimaryText fw-bold">DC </span><span>+@(model.Offense.DifficultyCheck).</span>
            <span class="monsterPrimaryText fw-bold">DMG </span><span>@(model.Offense.Damage).</span>
            <span class="monsterPrimaryText fw-bold">Reach </span><span>@model.Offense.MaxReach ft.</span>
            @if (model.Offense.MaxRange > 0)
            {
                <span class="monsterPrimaryText fw-bold">Range </span>

                <span>@model.Offense.MaxRange ft.</span>
            }
        </div>
        <hr class="monsterAccent my-1 border border-2 border-opacity-100" />
        <div>
            <div>
                <span class="fa-solid fa-bolt line-icon" /><span class="monsterPrimaryText fw-bold">Speed </span><span>@(model.WalkSpeed + model.SpeedMod) ft.</span>
                @foreach (var item in model.OtherSpeeds)
                {
                    <span>@item.Key @(item.Value + model.SpeedMod) ft.</span>
                }
            </div>
            <div>
                <span class="fa-solid fa-eye line-icon" /><span class="monsterPrimaryText fw-bold">Senses </span>
                @foreach (var item in model.Senses)
                {
                    <span>@item.Key @item.Value ft.</span>
                }
                <span class="">passive Perception </span><span>@(10 + model.Attributes.Wisdom).</span>
            </div>
            <div>
                <span class="fa-solid fa-comment line-icon" /><span class="monsterPrimaryText fw-bold">Languages </span>
                @if (model.Languages.Count() > 0)
                {
                    <span>@(string.Join(",", model.Languages)).</span>
                }
                else
                {
                    <span>None.</span>
                }
            </div>
            <div>
                <span class="fa-solid fa-award line-icon" /><span class="monsterPrimaryText fw-bold">Proficiency </span><span>+@model.Proficiency</span>
                <span class="monsterPrimaryText fw-bold">CR </span>
                <span class="monsterPrimaryText fw-bold">XP </span>
            </div>
            @if (model.Items.Count() > 0)
            {
                <div>
                    <span class="fa-solid fa-sack line-icon" /><span class="monsterPrimaryText fw-bold">Items </span>
                    <span>@(string.Join(",", model.Items)).</span>
                </div>
            }
        </div>
        @foreach (var fType in model.Features.Select(a => a.Type))
        {
            <div>
                <div class="monsterTertiary d-block"><span class="monsterPrimary text-white fw-bold h-100 d-inline-block" style="z-index: 10; position:relative">@(fType)s</span><span class="slant-45 monsterPrimary d-inline-flex" style="width: 48px; height: 24px; margin-left: -24px; position: relative; z-index: 1;" /></div>
                <div class="monsterPrimary d-block" style="height:4px" />
                @foreach (var feature in model.Features.Where(b => b.Type == fType))
                {
                    <div class="py-1">
                        <span class="line-icon"><span class="text-white fa-solid p-1 @feature.Icon @feature.RarityStyle"></span></span><span>@feature.Name</span>
                    </div>
                }
            </div>
        }
    </div>
</div>
@code {
    [Parameter]
    public Monster model { get; set; }
    [Parameter]
    public bool Hidden { get; set; }
}
