@using GiffyglyphMonsterMakerV3.Data
<div class="row vw-100 @(Focused ? "border border-primary border-2" : "border border-secondary border-1") gx-2 p-1 my-1" style="height:49px;">
    <div class="col" @onclick="Activate">
        <span class="fs-3">@model.Name</span>
        <spawn class="fs-5 m">Level @model.CombatLevel @model.MonsterRank @model.MonsterRole</spawn>
    </div>
    <div class="col-3">
        <button type="button" @onclick="Delete" class="btn btn-danger">
            <span class="fa-solid fa-x ms-2" /><span> Delete</span>
        </button>
    </div>
</div>
@code {
    [Parameter]
    public Monster model { get; set; }
    [Parameter]
    public EventCallback DeleteCallback { get; set; }
    [Parameter]
    public EventCallback ActiveClick { get; set; }
    [Parameter]
    public bool Focused { get; set; }

    protected async Task Delete()
    {
        await DeleteCallback.InvokeAsync();
    }

    protected async Task Activate()
    {
        await ActiveClick.InvokeAsync();
    }
}
